{% extends 'admin/master.html' %}

{% block body %}
<h3 class="text-info text-center mt-3">WELCOME TO ADMIN PAGE</h3>

{%if err_msg%}
<div class="alert alert-danger">{{err_msg}}</div>
{%endif%}

<form method="post">
    <div class="form-floating mb-3 mt-3">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" placeholder="Enter email" name="username">

    </div>

    <div class="form-floating mt-3 mb-3">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Enter password" name="password">

    </div>
    <div class="form-floating mt-3 mb-3">
        <button class="btn btn-info" type="submit">Login</button>
    </div>
</form>

{% endblock %}
